
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

#criteria {
    height: 180px;
    border: 1px solid #cacaca;
    border-radius: 10px;
    font-family: 'Montserrat', sans-serif;
    padding: 10px 25px;

    & .title {
        color: #535353;
        line-height: 20px;
    }
    & .criteria_list {
        margin: 0 5px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        & .active {
            background-color: #ebebeb;
        }

        & .item {
            width: 211px;
            display: flex;
            justify-content: space-between;
            padding: 10px;
            padding-right: 20px;
            padding-bottom: 15px;
            margin: 0 4px;
            height: 38px;
            align-items: center;
            cursor: pointer;
            border-right: 1px solid #dedede;

    
            & .amount {
                color: #f49c0f;
            }
        }

        & .item:hover {
            background-color: #ebebeb;
        }
    }
}


<button class="IYjGwk" tabindex="0"><svg width="24" height="20" class="x0F377"><path d="M19.469 1.262c-5.284-1.53-7.47 4.142-7.47 4.142S9.815-.269 4.532 1.262C-1.937 3.138.44 13.832 12 19.333c11.559-5.501 13.938-16.195 7.469-18.07z" stroke="#FF424F" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linejoin="round"></path></svg><div class="Ne7dEf"></div></button>
<button class="IYjGwk" tabindex="0"><svg width="24" height="20" class="x0F377"><path d="M19.469 1.262c-5.284-1.53-7.47 4.142-7.47 4.142S9.815-.269 4.532 1.262C-1.937 3.138.44 13.832 12 19.333c11.559-5.501 13.938-16.195 7.469-18.07z" stroke="#FF424F" stroke-width="1.5" fill="none" fill-rule="evenodd" stroke-linejoin="round"></path></svg><div class="Ne7dEf">Đã thích (168)</div></button>